.MainSection input {
  box-shadow: none;
}

.MainSection .todo-count,
.MainSection .clear-completed {
  padding: 8px;
}

.MainSection .clear-completed > a {
  color: #4a4a4a;
}

.MainSection .todo-count > strong,
.MainSection .clear-completed > a:hover {
  color: #00d1b2;
}

.TodoSorting li span.icon {
  color: #dbdbdb;
}

.TodoSorting li.is-active span.icon {
  color: inherit;
}

.SingleDatePicker__tether--show {
  z-index: 99;
}

.SingleDatePicker {
  width: 100%;
}

.SingleDatePickerInput {
  height: 32px;
  border-radius: 3px;
}

.DateInput {
  font-size: 14px;
  padding: 5px;
  line-height: 12px;
  width: 100%;
}

.SingleDatePickerInput__clear-date {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 2px;
  transform: translateY(-50%);
  margin-right: 5px;
}

.SingleDatePickerInput__clear-date svg {
  width: 16px;
  height: 9px;
  vertical-align: baseline;
}

.DateInput--with-caret::before {
  top: 43px;
}

.DateInput--with-caret::after {
  top: 44px;
  z-index: 100;
}

.CalendarDay__day {
  text-align: center;
}
