article.todo-item p.todo-task::before {
  content: attr(data-priority);
  margin-right: 0.5em;
  color: red;
}

article.todo-item p.todo-task {
  font-size: 1.5em;
}

article.todo-item .content p.todo-task:not(:last-child) {
  margin-bottom: 0;
}

article.todo-item .button .icon:first-child,
article.todo-item .button .icon:last-child {
  margin: 0 2px;
}

article.todo-item:last-child {
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

article.todo-item > .media-right {
  visibility: hidden;
}

article.todo-item:hover > .media-right {
  visibility: visible;
}
