.TodoItem > .edit-mode {
  padding: 10px;
}

.TodoItem:first-child {
  margin-top: -10px;
}

.TodoItem p.todo-task {
  color: #363636;
  font-weight: 500;
  font-size: 1.5em;
  word-break: break-word;
}

.TodoItem p.todo-date {
  font-size: 14px;
}

.TodoItem.completed p {
	color: #d9d9d9;
	text-decoration: line-through;
}

.TodoItem p.todo-task:last-child {
  padding: 10px 0;
}

.TodoItem p.todo-task::before {
  content: attr(data-priority);
  margin-right: 0.3em;
  color: red;
}

.TodoItem.completed p.todo-task::before {
  color: #d9d9d9;
}

.TodoItem .content p.todo-task:not(:last-child) {
  margin-bottom: 0;
}

.TodoItem .button .icon:first-child,
.TodoItem .button .icon:last-child {
  margin: 0 2px;
}

.TodoItem:last-child {
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.TodoItem > .media-right {
  padding: 13px 0;
  visibility: hidden;
}

.TodoItem:hover > .media-right {
  visibility: visible;
}

.TodoItem > .media-left {
  position: relative;
  width: 40px;
}

.TodoItem input[type="checkbox"]:focus{
  outline: 0;
}

.TodoItem .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 5px;
	bottom: 0;
	margin: auto 0;
  cursor: pointer;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.TodoItem .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.TodoItem .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}
